<header>
    <div class="fade-in" style="opacity: 0; animation: fadeIn 1s ease-in-out forwards;">

    <div class="header-container">
        <div class="profile-pic-container">
            <img src="/images/favicon.png" alt="Profile Picture" class="profile-pic">
        </div>
        <div class="center-container">
            <img src="/images/title.png" alt="Title" class="title-image">
            <nav>
                <a href="/index.html"><img src="/images/1.png" alt="Home" class="nav-button"></a>
                <a href="/documentation/introsection.html"><img src="/images/2.png" alt="Docs" class="nav-button"></a>
                <a href="/blog.html"><img src="/images/3.png" alt="Blog" class="nav-button"></a>
            </nav>
        </div>
    </div>
    </div>
</header>


