




<div class="sidebar">
    <div class="sidebar-title">Project Docs</div>

    <ul>
        <li class="folder">
            <span class="folder-name">Wav2Lip Project</span>
            <ul class="folder-content">
                <li><a href="setup.html" class="navbar-title">Initial Set-Up</a></li>

                <li><a href="audioPy.html" class="navbar-title">Audio.py</a></li>
                <li><a href="setup.html" class="navbar-title">Color_syncnet_train.py</a></li>
                <li><a href="hparams.html" class="navbar-title">Hparams.py</a></li>
                <li><a href="hqwav2liptrain.html" class="navbar-title">hqWav2LipTrain.py</a></li>
                <li><a href="inference.html" class="navbar-title">inference.py</a></li>
                <li><a href="preprocesspy.html" class="navbar-title">preprocess.py</a></li>
                <li><a href="wav2liptrain.html" class="navbar-title">wav2lipTrain.py</a></li>

                <li class="folder">
                    <span class="folder-name">Models</span>
                    <ul class="folder-content">
                   
</ul>
</li>
                
                <!-- Additional items here -->
            </ul>
        </li>

        <li class="folder">
            <span class="folder-name">Convert to CoreML</span>
            <ul class="folder-content">
                <li><a href="modelconversion.html" class="navbar-title">Convert using ONNX</a></li>

            </ul>
            </li>

        <li class="folder">
            <span class="folder-name">Virtual Box Optimization</span>
            <ul class="folder-content">
                <li><a href="virtualbox1.html" class="navbar-title">MacOS Lag Fix</a></li>

            </ul>
            </li>

       

            <li class="folder">
                <span class="folder-name">WaterProof Drone</span>
                <ul class="folder-content">
                    <li><a href="fpvquadassembly.html" class="navbar-title">FPV Build</a></li>
                   
                </ul>
                </li>


                <li class="folder">
                    <span class="folder-name">Ai4Health</span>
                    <ul class="folder-content">
               
    
                    </ul>
                    </li>
        <!-- More folders can be added here -->
    </ul>
</div>

