<div class="title">
    <h3>Latest posts</h3>
</div>
<div class="sidebar__blog__post">
    <ul class="blog__post">
        <li>
            <div class="inner">   
                <div class="img__box">
                    <img src="/images/Untitled design (9).png" alt="Awesome Image">  
                </div>
                <div class="title__box">
                    <div class="date"><i class="icon-15"></i>23 December 2023</div>
                    <h4><a href="/23-12-2023.html">"AI For Student Success: A Perspective"</a></h4>
                </div>
            </div>
        </li>
        <li>
            <div class="inner">   
                <div class="img__box">
                    <img src="/images/Untitled design (11).png" alt="Awesome Image">  
                </div>
                <div class="title__box">
                    <div class="date"><i class="icon-15"></i>30 December 2023</div>
                    <h4><a href="/30-12-2023.html">"Fusing Creativity with Technology"</a></h4>
                </div>
            </div>
        </li>
        <li>
            <div class="inner">   
                <div class="img__box">
                    <img src="/images/Untitled design (10).png" alt="Awesome Image">  
                </div>
                <div class="title__box">
                    <div class="date"><i class="icon-15"></i>05 January 2024</div>
                    <h4><a href="/05-01-2024.html">"Eco-Innovation: The Future of Green Technology"</a></h4>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>
<div class="single__sidebar__box">
<div class="title">
    <h3>Categories</h3>
</div>
<div class="sidebar-categories">
    <ul class="sidebar-categories-box">
        <li><a href="#"><i class="icon-17"></i> Internet Of Things</a></li>
        <li><a href="#"><i class="icon-17"></i> Artificial Intelligence</a></li>
        <li><a href="#"><i class="icon-17"></i>Machine Learning</a></li>
        <li><a href="#"><i class="icon-17"></i>Deep Learning</a></li>
        <li><a href="#"><i class="icon-17"></i>Neural Networks</a></li>
    </ul>
</div>
</div>
</div>
</div>
</div>
</div>