

        <!-- Updates Bar -->
        <div class="updates-bar">
            <h3>Latest Blogs</h3>
            <a href="23-12-2023.html">A Student's View on Ai</a>
            <a href="30-12-2023.html">Creativity in tech</a>
            <!-- Add more links or content as needed -->

            <div class="internship-notice">

            I'm looking for an Internship!<br>
            If you have opportunities, please contact me at<a href="mailto:ialzouby@gmail.com">ialzouby@gmail.com</a> 
            </div>


        </div>