body {
    font-family: 'Arial', sans-serif;
    background-color: #e8e8e8;
    color: #444;
    margin: 15px;
}

header, footer {
    background-color: #088cd8;
    color: #fff;
    padding: 12px;
    text-align: center;
    border-radius: 10px; /* Add rounded edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
}

header a, footer a {
    color: #fff;
    margin: 0 6px;
    text-decoration: none;
}

main {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

header a:hover, footer a:hover {
    color: #444;
}

.image-container {
    display: inline-block;
    margin: 20px auto;
}

.img-wrapper {
    text-align: center;
    display: block;
    margin: 0 auto;
}

figure img {
    width: 150px;
    height: 250px;
    object-fit: cover;
}

figure {
    margin: 0;
    display: inline-block;
}

figcaption {
    font-style: italic;
}


.custom-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
  }
  
  .slider-container {
    width: 100%;
    height: 100%; /* Allow the height to adjust based on content */
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Stack the children vertically */
    justify-content: center; /* Center horizontally within .slider-container */
    align-items: center; /* Center vertically within .slider-container */
    margin-bottom: 28px; 
}
  
  .slider {
    display: flex;
    animation: slide 20s linear infinite alternate;
    width: 80%;
    height: 80%;
  }
  
  .slider-block {
    flex: 0 0 40%;
    min-height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px; /* Set a fixed font size */
    border-radius: 10px;
    margin-right: 18px;
    transition: opacity 0.5s, transform 0.5s;
    cursor: pointer;
    padding: 10px;
    overflow: hidden; /* Hide overflowing content */
}
  
  /* Hover effect - reduce opacity and scale up on hover */
  .slider-block:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }
  

   .image {
    max-width: 20%;
    max-height: 20%;
    background-color: #fff;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 15px; 
}

  

  .image-containerrr {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-33.33%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .post-image img {
   max-width: 100%; /* Limit the image width to its container's width */
    max-height: 100%; /* Limit the image height to its container's height */
    width: auto; /* Allow the image to adjust its width */
    height: auto;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px; /* Round off the bottom left corner for the image container */
    border-bottom-right-radius: 10px; 
   
  
  }
  
 
  
  .post-text {
    text-align: center;
    margin: 0; /* Reset margin for text */
    max-height: 50%; /* Limit the maximum height for the text container */
    overflow: hidden; /* Hide overflowing content */
}

.post-text h3 {
    margin: 5px 0; /* Reduce margin around the post title */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.post-text p {
    white-space: normal; /* Allow text to wrap to the next line */
        text-overflow: clip; /* Allow text to display fully */
        max-height: 70%; /* Adjust the maximum height as needed */
        font-size: 16px;
}


  
  
  
  
