<!-- footer.html -->
<div>
<footer> 
    <nav>
        <a href="https://webpages.charlotte.edu/ialzouby/">Charlotte.edu</a>
        ||
        <a href="https://github.com/ialzouby">Github</a>
        ||
        <a href="https://github.com/Ialzouby/ialzouby.github.io">Github.io</a>
        ||
        <a href="https://github.com/Ialzouby/ialzouby.github.io/tree/main/itis3135">ITIS 3135 Github Pages </a>
        ||
        <a href="https://www.freecodecamp.org/IssamAlzouby">freeCodeCamp </a>
        ||
        <a href="https://www.codecademy.com/profiles/IssamAlzouby">CodeAcademy </a>
        ||
        <a href="http://www.linkedin.com/in/alzouby">LinkedIn </a>
    </nav>
    <p> Page built by <a href="company/index.html">Incredible Abyssinian </a>&copy; 2023 </p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
       </a>
       <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
         </a>
       
</footer>
  </div>