<footer> 
    <nav>
        <a href="https://github.com/ialzouby">
            <img src="images/4.png" alt="Github" class="nav-button">
        </a>
        
        <a href="http://www.linkedin.com/in/alzouby">
            <img src="images/5.png" alt="LinkedIn" class="nav-button">
        </a>
        
        <a href="https://www.freecodecamp.org/certification/IssamAlzouby/responsive-web-design">
            <img src="images/6.png" alt="HTML Cert" class="nav-button">
        </a>
        
    </nav>
    <p> Page built by <a href="incredibleabyssinian.html">Issam Alzouby</a>&copy; 2023 </p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px" src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
    </a>
</footer>
