<header>
    <h1>Issam Alzouby</h1>
    <nav>
        <a href="./">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        
        <li class="dropdown">
            <a href="#">Stuff</a>
            <ul class="dropdown-content">
                <li><a href="stuff.html">Stuff</a></li>
                <li><a href="hobby/index.html">Midterm</a></li>
                <li><a href="tables.html">Tables</a></li>
                <li><a href="form.html">Form</a></li>
                <li><a href="crap.html">crap</a></li>
                <li><a href="calculator.html">Calc 1</a></li>
                <li><a href="calculatortry.html">Calc 2</a></li>            
                <li><a href="byo_intro.html">BYO Intro</a></li>     
                <li><a href="arrays.html">Arrays</a></li>  
                <li><a href="stuff/badpage.htm">Crappy</a></li>  
                <li><a href="interactiveDrawing.html">Drawings</a></li>  
                <li><a href="slideshow.html">Gallery</a></li>  
                <li><a href="first-scripts.html">First-Scripts</a></li>  
                <li><a href="website_evaluations.html">CRAPPY Review</a></li>  



            </ul>
        </li>
       
        ||
        <a href="clients.html">Client Projects </a>
        ||
        <a href="irepair.html">iRepairCLT </a>
    </nav>
</header>




