<header>
    <h1> Issam Alzouby || ITIS 3135</h1>
    <nav>
        <a href="./">Home</a>
        ||
        <a href="introduction.html">Introduction</a>
        ||
        <a href="contract.html">Contract</a>
        ||
        
        <li class="dropdown">
            <a href="#">Stuff</a>
            <ul class="dropdown-content">
                <li><a href="stuff.html">Stuff</a></li>
                <li><a href="midterm.html">Midterm</a></li>
            </ul>
        </li>
       
        ||
        <a href="clients.html">Client Projects </a>
        ||
        <a href="irepair.html">iRepairCLT </a>
    </nav>
</header>




