@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?buz9qd');
  src:  url('fonts/icomoon.eot?buz9qd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?buz9qd') format('truetype'),
    url('fonts/icomoon.woff?buz9qd') format('woff'),
    url('fonts/icomoon.svg?buz9qd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-01:before {
  content: "\e900";
  color: #fff;
}
.icon-02:before {
  content: "\e901";
  color: #fff;
}
.icon-03:before {
  content: "\e902";
  color: #fff;
}
.icon-04:before {
  content: "\e903";
  color: #fff;
}
.icon-05:before {
  content: "\e904";
}
.icon-06:before {
  content: "\e905";
}
.icon-07:before {
  content: "\e906";
  color: #fff;
}
.icon-08:before {
  content: "\e907";
  color: #fff;
}
.icon-09:before {
  content: "\e908";
  color: #fff;
}
.icon-10:before {
  content: "\e909";
  color: #fff;
}
.icon-11:before {
  content: "\e90a";
  color: #fff;
}
.icon-12:before {
  content: "\e90b";
  color: #fff;
}
.icon-13:before {
  content: "\e90c";
  color: #f6ec4f;
}
.icon-14:before {
  content: "\e90d";
  color: #fff;
}
.icon-15:before {
  content: "\e90e";
  color: #fff;
}
